h2{
    color: blue;
    background-color: aqua;
    text-align: center;
    text-transform: uppercase;
}
h3{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.areBonita{
    border:Ipx;
    border-radius: 10%;
    background-color: #d4d9e8;
    color: #454a4f;
    height: 50px;
    width: 250px;
    font-size: 20px;
}
body{
    color: #454a4f;
}
label + input {
    color: #5ca2ce;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: rgb(90, 89, 89);
}
.Fondo{
    background-image: url(Fondo.jpg);
}
p{
    color: rgb(145, 98, 159);
    font-size: 20px;
    text-align: center;
}

